<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
	<title>Bewerter</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
</head>
<body>
	<div data-role="page">
		<div data-role="content">
			<h3>Der war toll sagen <span th:text="${rating.toll}">5</span> Personen.</h3>
			<h3>Der war doof sagen <span th:text="${rating.doof}">1</span> Personen.</h3>
			<form th:action="@{/toll}" method="post">
		        <div>
		            <button type="submit" data-theme="b">Das war toll</button>
		        </div>
		    </form>
		    <form th:action="@{/doof}" method="post">
		        <div>
		            <button type="submit" data-theme="a">Das war doof</button>
		        </div>
		    </form>
		</div>
	</div>
</body>
</html>
